.home-page {
  margin-top: 60px;
  padding-top: 2%;
}

.search-container {
  height: 60%;

  background-color: darkgreen;
  border-radius: 1rem;

  display: flex;
  justify-content: center;

  position: fixed;
  left: 2%;
  right: 76%;
}

.search-bar {
  height: 2.5rem;

  margin-top: 4%;
  margin-left: 6%;
  margin-right: 6%;
  
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 40px;
  width: 80%;

  margin-left: 2%;
  padding-left: 10px;
  
  outline: none;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  flex: 1;

  font-size: 18px;
}

.search-button {
  height: 42px;
  width: 14%;

  background-color: lightcoral;
  cursor: pointer;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  margin-right: 2%;
}

.search-icon {
  transform: scale(1.3);
  margin-top: 5px;
}

.meal-grid {
  margin-left: 26%;
  margin-right: 2%;
}