:root {
  --base-primary: 30, 27, 23;
  --base-secondary: 46, 51, 25;

  scrollbar-width: none
}

body {
  margin: 0;
  font-family: Verdana;
  font-size: 18px;
  color: white;
  background-color: rgb(var(--base-primary));
}